In [1]:
import pandas as pd
import numpy as np
import os
from os import chdir
from glob import glob

In [2]:
bar_file_path = "./baro_data/"
chdir(bar_file_path)
list_of_files = [file for file in glob("*")]

In [3]:
#combining all of the original barometric csvs into one

def produceOneDataframe(list_of_files):
   # Consolidate all CSV files into one object
   all_baro_data = pd.concat([pd.read_csv(file, header=10, encoding='ISO-8859-1') for file in list_of_files])
   return all_baro_data
    
baro_data_in_kPa = produceOneDataframe(list_of_files)

In [5]:
# converting the 'level' column from kPa to meters

baro_data_in_kPa['LEVEL'] *= 0.101972
baro_data_in_kPa

             Date         Time  ms      LEVEL  TEMPERATURE
0       7/17/2018  05:00:00 pm   0   8.274283       36.873
1       7/17/2018  05:10:00 pm   0   8.273427       36.498
2       7/17/2018  05:20:00 pm   0   8.273192       36.402
3       7/17/2018  05:30:00 pm   0   8.273019       36.059
4       7/17/2018  05:40:00 pm   0   8.273039       35.360
...           ...          ...  ..        ...          ...
23315  11/11/2019  09:50:00 am   0  10.307738       18.301
23316  11/11/2019  10:00:00 am   0  10.307024       18.360
23317  11/11/2019  10:10:00 am   0  10.307738       18.445
23318  11/11/2019  10:20:00 am   0  10.308961       18.513
23319  11/11/2019  10:30:00 am   0  10.308451       18.602

[41246 rows x 5 columns]

In [6]:
#creating and exporting the new file into a csv with all of the barometric data in the correct units

all_baro_data_in_m = baro_data_in_kPa 
all_baro_data_in_m.to_csv('../total_baro_data/all_baro_data_in_m.csv', encoding='ISO-8859-1')